* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FF6900;

}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding-bottom: 1rem;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
    border: 1px dashed black;
    display: flex;
}

.nav-sex {
    border: 1px dashed black;
    flex-basis: 15%;
}

.logo {
    border: 1px dashed black;
    flex-basis: 70%;
    text-align: center;
}

.wishlist {
    text-align: right;
    border: 1px dashed black;
    flex-basis: 15%;
}

.logo-bool {
    height: 50px;
}


.row {
    display: flex;
}

.pos-rel{
    position: relative;

}

.col {
    border: 1px dashed black;
    flex-basis: 100%;
}

.main-image {
    width: 100%;
}

.discount {
    content: '\2556';
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}