* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

header {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FF6900;
    box-shadow: 10px 5px 5px rgb(119, 113, 113);

}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding-bottom: 1rem;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 1rem;
}

.nav-sex {
    flex-basis: 15%;
}

.logo {
    flex-basis: 70%;
    text-align: center;
}

.wishlist {
    text-align: right;
    flex-basis: 15%;
}

.logo-bool {
    height: 50px;
}


.row {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

.pos-rel {
    position: relative;

}

.col {
    flex-basis: 100%;
}

.main-image {
    width: 100%;
}

.pos-abs {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.discount-green {
    padding: 6px;
    bottom: 30px;
    left: 50px;
    z-index: 2;
    display: flex;
    background-color: darkgreen;
}

.discount-red {
    left: 0;
    bottom: 30px;
    z-index: 2;
    background-color: red;
    width: 3rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.3rem;
}

.pad4 {
    padding: 0.4rem;
    color: white;
    font-weight: bold;
}

span{
    color: white;
}

.del-price {
    padding-left: 1rem;
    text-decoration: line-through;
}

.red-price {
    color: red;
    font-weight: bold;
}


.txt {
    padding-bottom: 2rem;
}

.cuore {
    color: black;
    z-index: 2;
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.pos-rel:hover .overlay {
    display: block;
}

.pos-rel:hover .cuore {
    color: red;
}

i {
    padding: 0.4rem;
    color: white;
}

footer {
    color: white;
    height: 300px;
    background-color: #1A1A1A;
}